body {
    background-color: #ffdab9;

}

#Foto {
    float: left ;
    border: 2px solid rgb(51, 33, 211);
    height: 142px;
    padding: 5px;
    background-color: rgb(51, 33, 211);
}

h1 {
    font-family: Arial, Helvetica, sans-serif ;
    text-align: center;
    }


h2 {
    text-align: center;
    font-size: 20px ;
}   

h3 {
    text-align: center;
    font-size: 20px;
}

h4 {
    text-align: center;
    font-size: 20px;
}

#blog {
    font-family: italic;
}

#Naturalidade {
    font-family: sans-serif;
    

}

div {
    position: relative;
    top: 10px;
    left: 5px;
}

.list {
    font-size: 20px;

}

